<section class="container">
  <a class="arrow-back" href="/users">←</a>
  <div class="board">
    <div class="board2">
      <div class="board3">
        <div>
          <h2>ADD SHIFT</h2>

          <form class="form" action="/shifts/{{department.name}}/create" method="POST">
            <label>EMPLOYEE:</label>
            <select name="assigned">
              {{#each users}}
              <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
              {{/each}}
            </select>
            <label>CODES:</label>
            {{!-- <input type="text" name="code"> --}}
            <div class="schedule" id="schedule">
              {{!-- //table --}}
            </div>
            <button>ADD</button>
          </form>
        </div>
        <div>
          <div id="shifts-list">
            {{!-- <h4>firstName lastName</h4>
            <div>Monday, 9am-5pm</div>
            <div>Tuesday, 9am-5pm</div>
            <div>Wednesday, 5pm-1am</div> --}}
            {{#each shifts}}
            <h4>{{this.assigned.firstName}} {{this.assigned.lastName}}</h4>
            {{this.codes}}

            {{/each}}

            {{#each shifts.codes}}
            {{@index}}
            {{/each}}


          </div>
          <form action="/shifts/{{department.name}}/delete/all" method="POST">
            <button>Delete All</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/schedule.js"></script>