<h2>{{department.name}}</h2>


{{#each users}}
<a href="/users/show/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
<br>
{{/each}}

<h3>Department Schedule goes here</h3>

<h6>
  <a href="/departments/{{department.name}}/edit">Edit Department</a>
</h6>

<h6>
  <a href="/users">Go Back</a>
</h6>

<div>
  <a class="btn create-button" href="/user/create">NEW EMPLOYEE</a>
</div>