<a class="go-back" href="/departments"><img src="/images/left-arrow.svg" class="go-back-btn"></a>
<section class="container">
  <div class="center-stuff">
    <div class="department-box">
      <h2>{{department.name}}</h2>
      {{#each users}}
      <a href="/users/show/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
      {{/each}}
      {{!-- <h3>Department Schedule goes here</h3> --}}
    </div>
  </div>
  <div class="side-bar">
    <div>
      <a class="btn create-button" href="/departments/{{department.name}}/edit">EDIT DEPARTMENT</a>
    </div>
    <div>
      <a class="btn create-button" href="/user/create">NEW EMPLOYEE</a>
    </div>
    <div>
      <a class="btn create-button" href="/shifts/{{department.name}}">SHIFTS</a>
    </div>
  </div>
</section>