<a class="go-back" href="/departments">⇦<span class="previous-page"> </span></a>
<section class="container">
  <div class="center-stuff">
    <div class="department-box">
      <h2>{{department.name}}</h2>
      {{#each users}}
      <a href="/users/show/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
      {{/each}}
      {{!-- <h3>Department Schedule goes here</h3> --}}
    </div>
  </div>
  <div class="side-bar">
    {{#if isAdmin}}
    <div>
      <a class="btn create-button" href="/auth/create">NEW EMPLOYEE</a>
    </div>
    <div>
      <a class="btn create-button" href="/departments/{{department.name}}/edit">EDIT DEPARTMENT</a>
    </div>
    {{/if}}
    {{!-- {{#if isManagerOrAdmin}} --}}
    <div>
      <a class="btn create-button" href="/shifts/{{department.name}}">SHIFTS</a>
    </div>
    {{!-- {{/if}} --}}
  </div>
</section>