<a class="go-back" href="/users/show/{{user._id}}"><span class="arrow">⇦</span><span class="previous-page"> </span></a>
<section class="container">
  <div class="spread-stuff">
    <div>
      <form action="/users/edit/{{user._id}}" method="POST">
        {{#if isManagerOrAdmin}}
        <div>
          <label>First Name: </label>
          <input type="text" name="firstName" value="{{user.firstName}}">
        </div>
        <div>
          <label>Last Name: </label>
          <input type="text" name="lastName" value="{{user.lastName}}">
        </div>
        <div>
          <label>E-mail: </label>
          <input type="text" name="email" value="{{user.email}}">
        </div>
        {{/if}}
        <div>
          <label>Phone: </label>
          <input type="text" name="phone" value="{{user.phone}}">
        </div>
        {{#if isAdmin}}
        <div>
          <label>Department: </label>
          <select name="department">
            {{!-- <option value="{{user.department._id}}" selected="selected">{{user.department.name}}</option> --}}
            {{#each departments}}
            {{#if this.correctDepartment}}
            <option value="{{this._id}}" selected="selected">{{this.name}} </option>
            {{else}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/if}}
            {{/each}}
          </select>
        </div>
        <div>
          <label>Role: </label>
          <select name="role">
            <option value="EMPLOYEE">Employee</option>
            <option value="MANAGER">Manager</option>
            <option value="ADMIN">Admin</option>
          </select>
        </div>
        {{/if}}
        <button class="submit-button">UPDATE</button>
      </form>
    </div>
    <div id="employee-list" class="employee-list">
      <a class="emp-formatting" href="/users/show/{{user._id}}">
        {{user.firstName}} {{user.lastName}}
      </a>
      <hr>
      <p><span class="emp-formatting">E-mail: </span>{{user.email}}</p>
      <p><span class="emp-formatting">Phone number: </span>{{user.phone}}</p>
      <p><span class="emp-formatting">Department: </span>{{user.department.name}}</p>
      <p><span class="emp-formatting">Role: </span>{{user.role}}</p>
      <form action="/users/delete/{{user._id}}" method="POST">
        <button class="submit-button">DELETE</button>
      </form>
    </div>
  </div>
  <div class="side-bar">
  </div>
</section>