<section class="container">
  <div class="center-stuff">
    <div class="you">
    <p>{{user.firstName}} {{user.lastName}}</p>
    <ul>
      <li><span class="manager-bold">E-mail:</span> {{user.email}}</li>
      <li><span class="manager-bold">Phone number:</span> {{user.phone}}</li>
      <li><span class="manager-bold">Department:</span> {{user.department.name}}</li>
      <li><span class="manager-bold">Role:</span> {{user.role}}</li>
    </ul>
    </div>
  </div>
  <div class="side-bar">
    {{#if canEdit}}
      <a class="btn create-button" href="/users/edit/{{user._id}}">UPDATE INFORMATION</a>
    {{/if}}
  </div>
</section>